[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
withings-api = "*"
prometheus-client = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
get-token = "python3 get_token.py"
main = "python3 main.py"
